{{ define "filelist" }}
    <ul>
        <li><a href="">..</a></li>
        {{ range $childName, $child := .Children }}
        <li>
        {{ if $child.IsDir }}
            <a href="{{ objectPath $.ObjectID $child.Path }}"> {{ $childName }} </a>
        {{ else }}
            <!-- file entry -->
            <div class="filename">
                {{ $childName }}
            </div> 
            <div class="fileinfo">
                {{ with $child.File.Info }}
                ({{ humanFileSize .Size }})
                {{ end }}
            <a href="{{ downloadPath $.ObjectID $child.File.Path }}" download="{{ $childName }}">⇣</a>
            </div>
        {{ end }}
        </li>
        {{ end }}
    </ul>
{{ end }}