{{ define "main" }}
<h1>{{ .ID }}</h1>
<section class="object-files">
  <div class="filetree">
    {{ template "filetree" .FileTree }}
  </div>
  {{ with .FileTree.Active }}
    {{ if .IsDir }}
      <div class="dir detail">
        {{ template "dir-detail" . }}
      </div>
    {{ else }}
      <div class="file detail">
        {{ template "file-detail" . }}
      </div>
    {{ end }}
  {{ end }}
</section>
{{ end }}


{{ define "filetree" }}
	<ul>
		{{ range $childName, $child := .Children }}
		<li>
			{{ if $child.IsDir }}
				<!-- directory entry -->
				<details {{ if $child.IsActive }} open="" {{ end }}>
					<summary class="dir name">
            <svg class="shrink-0 size-4 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"></path></svg>
            <a href="{{ objectPath $.ObjectID $child.Path }}"> {{ $childName }} </a>
					</summary>
					{{ template "filetree" $child }}
				</details>
			{{ else }}
        <svg class="shrink-0 size-4 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
          <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
        </svg>
				<!-- file entry -->
				<a href="{{ objectPath $.ObjectID $child.Path }}"> {{ $childName }} </a>
			{{ end }}
		</li>
		{{ end }}
	</ul>
{{ end }}


{{ define "dir-detail" }}
    <ul>
        {{ with .Parent }}
          <li>
            <div class="name">
              <a href="{{ objectPath $.ObjectID .Path }}">..</a>
            </div> 
          </li>
        {{ end }}

        {{ range $childName, $child := .Children }}
        <li>
          <div class="name">
            <a href="{{ objectPath $.ObjectID $child.Path }}"> {{ $childName }} </a>
          </div> 
          {{ if not $child.IsDir }}
          <!-- file entry -->
          <div class="fileinfo">
            {{ with $child.File.Info }}
              ({{ humanFileSize .Size }})
            {{ end }}
            <a href="{{ downloadPath $.ObjectID $child.File.Path }}" download="{{ $childName }}">⇣</a>
          </div>
          {{ end }}
        </li>
        {{ end }}
    </ul>
{{ end }}

{{ define "file-detail" }}
    this is a file -- TODO
{{ end }}