package pages

import (
	"github.com/srerickson/ocfl-tools/internal/server/model"
	"github.com/srerickson/ocfl-tools/internal/server/ui/components/files"
	"github.com/srerickson/ocfl-tools/internal/server/ui/layouts"
)

templ Object(obj *model.Object) {
	@layouts.BaseLayout() {
		<div class="p-2">
			<div class="text-xl my-2">{ obj.ID }</div>
		</div>
		@files.List(obj.Files)
	}
}
