
/* ul.files {
    padding: 0;
}
ul.files > li {
    list-style: none;
    padding: 0.7rem 1rem;
    background-color: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

ul.files a {
    text-decoration: none;
} */

.tree {
    --spacing: 1.5rem;
    --radius: 2px;
}

.tree li {
    display: flex;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree li .file.name {
    margin-right: auto;
}

.tree .file a {
    text-decoration: none;
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.tree ul li {
    border-left: 2px solid #ddd;
}

.tree ul li:last-child {
    border-color: transparent;
}

.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

.tree details {
    margin:0 ;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}

.tree summary {
    display: block;
    cursor: pointer;
    margin:0 ;
    padding: 0;
    font-weight: normal;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
    display: none;
}

.tree summary:focus {
    outline: none;
}

.tree summary:focus-visible {
    outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 2 - var(--radius));
    left: calc(var(--spacing) - var(--radius) - 1px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: #ddd;
}

.tree summary::before {
    z-index: 1;
    background: #696 url('expand-collapse.svg') 0 0;
}

.tree details[open] > summary {
    margin-bottom: 0;
}

.tree details[open] > summary::before {
    background-position: calc(-2 * var(--radius)) 0;
}